div#background-pic {
  background: url("./city_of_austin_bg.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  height: 50vh;
}

#summary-container {
  background-color: rgba(48, 48, 48, 0.85);
  color: rgb(213, 218, 174);
  width: fit-content;
}