@media screen and (min-width: 1200px) {
  div#background-pic {
    background-size: 66.7%;
    min-height: 200px;
    max-height: 300px;
  }
}

@media screen and (max-width: 1199px) {
  div#background-pic {
    background-size: cover;
  }
}

@media screen and (max-width: 1000px) {
  div#main-card-container-a, div#main-card-container-b {
    grid-template-columns: 1fr 1fr;
  }

  div.main.card {
    background-size: 160%;
    padding: 10px;
  }

  div#contact-form {
    grid-template-columns: 0 auto 0;
    height: fit-content;
  }

  div#contact-form > form {
    grid-template-columns: auto;
  }

  input, textarea#message, #message-text-submit > input[type^="submit"] {
    margin: auto
  }
}

@media screen and (max-width: 768px) {
  div#background-pic {
    background-size: cover;
    max-height: 180px;
  }

  div#summary-container {
    grid-column: 1 / span 3;
    grid-row: 1;
    max-height: 75px;
    margin: 0 0 15px 0;
  }

  div#picture-of-nathan {
    grid-column: 2;
    grid-row: 2;
  }

  img#nathan-looking-great {
    margin-top: 0;
  }

  div#main-card-container-a, div#main-card-container-b {
    grid-template-columns: auto;
    grid-template-rows: 25vh 25vh;
  }

  div#about-card, div#projects-card, div#blog-card, div#social-card {
    background-size: cover;
  }

  section.card-text {
    padding: 1vh 1vw;
  }

  div#contact-form {
    grid-template-columns: 0 auto;
    grid-template-rows: auto;
  }

  div#contact-form > form {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

body {
  background-color: rgb(168, 168, 168) ;
}

#background-pic {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  background-image: url("./city_of_austin_bg.jpg");
  background-color: rgba(48, 48, 48);
  background-repeat: no-repeat;
}

#summary-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(48, 48, 48, 0.85);
  color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  border-radius: 0 0 8px 0;
  padding: 0 5px 0 5px;
}

#picture-of-nathan {
  grid-column: 3;
  grid-row: 1 / span 3;
  z-index: 999;
}

#nathan-looking-great {
  width: 40%;
  height: auto;
  min-width: 80px;
  max-width: 220px;
  margin: auto;
  margin-top: 10%;
  display: block;
  border: solid rgba(0, 0, 0, 0.5) 6px;
  border-radius: 50%;
}

#main-card-container-a {
  background-color: rgba(48, 48, 48, 0.5);
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-rows: 45vh;
  z-index: 1;
}

#main-card-container-b {
  background-color: rgba(48, 48, 48, 0.5);
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 45vh;
  z-index: 1;
}

.main.card {
  text-align: center;
  color: white;
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}

.main.card:hover {
  cursor: pointer;
  filter: sepia(.8);
}

#about-card {
  background: rgba(232, 33, 33, .4);
  background: -webkit-linear-gradient(rgba(232, 33, 33, .4), rgba(232, 33, 33, .4)), url('./about.jpg'), ;
  background-image: linear-gradient(rgba(232, 33, 33, .4), rgba(232, 33, 33, .4)), url('./about.jpg');
  background-size: 130%;
  background-repeat: no-repeat;
}

#projects-card {
    background: rgba(238, 188, 22, 0.4);
    background: -webkit-linear-gradient(rgba(238, 188, 22, 0.4), rgba(238, 188, 22, 0.4)), url('./projects.jpg'), ;
    background-image: linear-gradient(rgba(238, 188, 22, 0.4), rgba(238, 188, 22, 0.4)), url('./projects.jpg');
    background-size: 140%;
    background-repeat: no-repeat;
}

#blog-card {
  background: rgba(33, 149, 234, .6);
  background: -webkit-linear-gradient(rgba(33, 149, 234, .6), rgba(33, 149, 234, .6)), url('./blog.jpg'), ;
  background-image: linear-gradient(rgba(33, 149, 234, .6), rgba(33, 149, 234, .6)), url('./blog.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
}

#social-card {
  background-color: rgba(0, 128, 128, 0.6);
  background: -webkit-linear-gradient(rgba(0, 128, 128, 0.6), rgba(0, 128, 128, 0.6)), url('./social_picture.jpg'), ;
  background-image: linear-gradient(rgba(0, 128, 128, 0.6), rgba(0, 128, 128, 0.6)), url('./social_picture.jpg');
  background-size: 160%;
  background-repeat: no-repeat;
}

#about-card:hover {
  background-image: url('./about.jpg');
}

#projects-card:hover {
  background-image: url('./projects.jpg');
}

#blog-card:hover {
  background-image: url('./blog.jpg');
}

#social-card:hover {
  background-image: url('./social_picture.jpg');
}

.card-text {
  background: rgba(0, 0, 0, 0.35);
  grid-column: 2;
  grid-row: 2;
  padding: 4vh 2vw 4vh 2vw;
  font-weight: bold;
  border: solid white;
}

#contact-form {
  width: 100%;
  min-height: 300px;
  height: fit-content;
  background: rgba(48, 48, 48);
  color: white;
  display: grid;
  grid-template-columns: 35% 2fr 1fr;
  grid-template-rows: 1fr;
}

#contact-form > form {
  grid-column: 2 / span 2;
  display: grid;
  padding-top: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#personal-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 50px 30px 50px;
  padding: 0 10px 0 10px;
}

label {
  text-align: center;
  padding-top: 5px;
}

input[type^="text"] {
  height: 20px;
  width: 250px;
}

.email-form {
  background-color: rgb(235, 204, 154);
  padding: 2px 10px 0 10px;
  border-width: 2px;
  border-radius:12px;
  border-style: inset;
  resize: none;
}

#message-text-submit {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px 170px 50px;
}

#message {
  width: 340px;
  height: 150px;
  margin: 0px 5px 0px 2px;
}

input[type^="submit"] {
  background-color: rgb(34, 34, 34);
  color: rgb(185, 185, 185);
  padding: 8px 12px 8px 12px;
  max-height: 40px;
  max-width: 80px;
  border: solid rgb(102, 102, 102) 1px;
  border-radius: 12px;
  grid-column: 1;
  grid-row: 3;
  margin: auto;
}

input[type^="submit"]:active {
  background: rgb(0, 0, 0);
}