@media screen and (min-width: 1200px) {
  div#background-pic {
    background-size: 66.7%;
    min-height: 200px;
    max-height: 300px;
  }
}

@media screen and (max-width: 1199px) {
  div#background-pic {
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  div#background-pic {
    background-size: cover;
    max-height: 180px;
  }

  div#summary-container {
    grid-column: 1 / span 3;
    grid-row: 1;
    max-height: 75px;
    margin: 0 0 15px 0;
  }

  div#picture-of-nathan {
    grid-column: 2;
    grid-row: 3;
  }

  img#nathan-looking-great {
    margin-top: 0;
  }
}

body {
  background-color: rgb(168, 168, 168) ;
}

#background-pic {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  background-image: url("./city_of_austin_bg.jpg");
  background-color: rgba(48, 48, 48);
  background-repeat: no-repeat;
  border-bottom-style: solid;
  border-bottom-color: rgba(48, 48, 48);
  border-bottom-width: 5px;
}

#summary-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(48, 48, 48, 0.85);
  color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  border-radius: 0 0 8px 0;
  padding: 0 5px 0 5px;
}

#picture-of-nathan {
  grid-column: 3;
  grid-row: 1 / span 3;
  z-index: 999;
}

#nathan-looking-great {
  width: 40%;
  height: auto;
  min-width: 110px;
  max-width: 220px;
  margin: auto;
  margin-top: 10%;
  display: block;
  border: solid rgba(0, 0, 0, 0.5) 6px;
  border-radius: 50%;
}

#main-btn-container {
  background-color: rgba(48, 48, 48, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh;
  z-index: 100;
}

.main.btn {
  border: transparent 2px;
  text-align: center;
  line-height: 100px;
  color: white;
  min-width: 300px;
  min-height: 300px;
  font-size: 2em;
}

#about-btn {
  background-color: rgba(232, 33, 33, .6);
}

#projects-btn {
    background-color: rgba(162, 3, 209, .6);
}

#blog-btn {
    background-color: rgba(33, 149, 234, .6);
}